body{
    background-color: indianred;
}
.margin{
    margin-top: 14px;
}
.half{
    border: 4px solid whitesmoke;
    border-radius: 4px;
    background-color: #fc9494;
    color: whitesmoke;
    height: 50px;
    text-align: center;
    line-height: 45px;
}
.fourth{
    border: 4px solid whitesmoke;
    border-radius: 4px;
    background-color: #fc9494;
    color: whitesmoke;
    height: 50px;
    text-align: center;
    line-height: 45px;
}